<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wonderlabz Conversion Calculator</title>
  <script src="js/angular-1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="bootstrap-4.3.1/css/bootstrap.css">
</head>
<body>

  <div id="div-application" ng-app="converterApp" ng-controller="converterCtrl" class="container">
    <div id="div-header" class="d-flex justify-content-center">
      <h1>Wonderlabz Conversion Application</h1>
    </div>

    <div class="tab">
      <button class="tablinks" onclick="openConversionType(event, 'celsiusToKelvin')">Celsius To Kelvin</button>
      <button class="tablinks" onclick="openConversionType(event, 'kelvinToCelsius')">Kelvin To Celsius</button>
      <button class="tablinks" onclick="openConversionType(event, 'kilometresToMiles')">Kilometres To Miles</button>
      <button class="tablinks" onclick="openConversionType(event, 'milesToKilometres')">Miles To Kilometres</button>
    </div>

    <!--A form to display the conversion calculator view from Celsius to Kelvin-->
    <div id="celsiusToKelvin" class="tabcontent">
      <form id="formCelsius" ng-submit="submitCelsius()">
        <div class="form-group">
          <label class="lb-text">Celsius</label>
          <input type="number" step="0.01" ng-model="celsius"><br>
          <p>{{temperatureOutput}}</p>
          <div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
            <button class="btn btn-secondary btn-lg btn-block" ng-click="resetCtoKForm()">Reset</button><br>
          </div>
        </div>
      </form>
    </div>

    <!--A form to display the conversion calculator view from Kelvin to Celsius-->
    <div id="kelvinToCelsius" class="tabcontent">
      <form id="formKelvin" ng-submit="submitKelvin()">
        <div class="form-group">
          <label class="lb-text">Kelvin</label>
          <input type="number" step="0.01" ng-model="kelvin"><br>
          <p>{{temperatureOutput}}</p>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
          <button class="btn btn-secondary btn-lg btn-block" ng-click="resetKtoCForm()">Reset</button><br>
        </div>
      </form>
    </div>

    <!--A form to display the conversion calculator view from Kilometres to Miles-->
    <div id="kilometresToMiles" class="tabcontent">
      <form id="formKilometres" ng-submit="submitKilometres()">
        <div class="form-group">
          <label class="lb-text">Kilometres</label>
          <input type="number" step="0.01" ng-model="kilometres"><br>
          <p>{{distanceOutput}}</p>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
          <button class="btn btn-secondary btn-lg btn-block" ng-click="resetKtoMForm()">Reset</button><br>
        </div>
      </form>
    </div>

    <!--A form to display the conversion calculator view from Miles to Kilometres-->
    <div id="milesToKilometres" class="tabcontent">
      <form id="formMiles" ng-submit="submitMiles()">
        <div class="form-group">
          <label class="lb-text">Miles</label>
          <input type="number" step="0.01" ng-model="miles"><br>
          <p>{{distanceOutput}}</p>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Convert</button>
          <button class="btn btn-secondary btn-lg btn-block" ng-click="resetMtoKForm()">Reset</button><br>
        </div>
      </form>
    </div>
    <br>
    <div id="div-btn-history" class="d-flex justify-content-center">
      <!--<button id="history" ng-click="getHistory()">Show Conversion History</button>-->
      <input type="button" id="history" class="btn btn-primary" value="Show Conversion History" ng-click="getHistory()">
    </div>

    <!--To display conversion history-->
    <div id="displayTable" hidden>
      <table class="table table-hover table-dark">
        <thead class="thead-dark">
          <tr>
            <th>Conversion Type</th>
            <th>Conversion Input Type</th>
            <th>Conversion Input Value</th>
            <th>Conversion Output Type</th>
            <th>Conversion Output Value</th>
          </tr>
        </thead>

        <tr ng-repeat="conversion in conversions">
          <td>{{conversion.conversionType}}</td>
          <td>{{conversion.inputType}}</td>
          <td>{{conversion.inputValue}}</td>
          <td>{{conversion.outputType}}</td>
          <td>{{conversion.outputValue}}</td>
        </tr>
      </table>
    </div>

  </div>
  <script src="js/app.js"></script>
  <script src="js/converterController.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="css/main.css">
</body>
</html>